* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
    

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.responsive-design {
    margin: 2rem;
    width: 100%;
}

.responsive-design h1 {
    margin: 2rem 0;
    width: 100%;
}

.responsive-design .box {
    padding: 10px;
    margin: 5px;
    border: 1px solid #000;
}

.top-courses {
    margin: 2rem;
    width: 100%;
}

.top-courses .card {
    margin-right: 1rem;
}

.top-courses img {
    margin: 1rem 0;
}

.top-courses .card h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.top-courses .card span {
    font-size: 14px;
    color: #8a8a8a;
    margin-bottom: 5px;
}

.top-courses .card p {
    margin: 7px 0;
    font-size: 18px;
}

.top-courses .card p i {
    font-size: 14px;
    color: #fbd53f;
}

.top-courses .card p span {
    color: #717171;
    font-size: 16px;
}


.card .btn a:first-child {
    background-color: #6902a9e1;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.card .btn a:last-child {
    background-color: #45d3dee1;
    color: #176561;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.top-courses .card .btn-1 a {
    background-color: #f9d187;
    color: #8e610f;
    padding: 5px 10px;
    border-radius: 3px;
}